
        <ul>
            <li><a href="/newjoke" class="btn btn-primary">New Joke</a></li>
            <li><a href="/success" class="btn btn-primary">All Jokes</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Bit</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Set</a></li>
        </ul>
        <h1>Alternate Material</h1>

        <h2>{{alternates.title}}</h2>



        <h4>Joke</h4>
        <p>{{alternates.joke}}</p>

        <h4>Subject Matter</h4>

        <h4>Topics</h4>

        <h4>Themes and Points</h4>
        <p>{{alternates.altThemes}}</p>

