<!--Header toolbar, consistent at top of each view-->
<md-toolbar class="toolbarHeading" md-whiteframe="3" style="height: 75px; padding: 0 15px 0 15px" layout="row">
    <div flex>
        <md-button class="toolbar-button" ng-href="/newjoke">New Material</md-button>
        <md-button class="toolbar-button" ng-href="/success">Table of Contents</md-button>
        <md-button class="toolbar-button" ng-href="/logout" target="_self">Logout</md-button>
    </div>
    <h1 id="main-message">{{main.message}}</h1>
</md-toolbar>

<div class="welcome" md-whiteframe="3">
    <h1>Alternate Material</h1>

    <h2>{{alternates.title}}</h2>

    <!--Alternate Setup Punch Text Box-->
    <md-input-container class="block">
        <label>Alternate Setup/Punch</label>
        <textarea cols="50" ng-model="alternates.joke" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-raised" ng-click="exercises.replaceElement('crud/addaltsetup', alternates.joke)">Save</md-button>
    <br />

    <!--Alternate Subject Matter Text Box-->
    <md-input-container class="block">
        <label>Subject Matter</label>
        <textarea cols="50" ng-model="alternates.subjectMatter" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-raised" ng-click="alternates.replaceAltElement('crud/addaltsm/', alternates.subjectMatter)">Save</md-button>
    <br />

    <!--Alternate Topics Text Box-->
    <md-input-container class="block">
        <label>Topics</label>
        <textarea cols="50" ng-model="alternates.topics" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-raised" ng-click="alternates.replaceAltElement('/crud/addalttopic/', alternates.topics)">Save</md-button>
    <br />

    <!--Alternate Themes and Points Text Box-->
    <md-input-container class="block">
        <label>Themes and Points</label>
        <textarea cols="50" ng-model="alternates.altThemes" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-raised" ng-click="alternates.replaceAltElement('/crud/addalttheme/', alternates.altThemes)">Save</md-button>
    <br />

    <!--Go Back to Exercises Button-->
    <md-button class="md-raised" ng-click="alternates.goToExercises()">Back to Exercises</md-button>


</div>


