<!--Header toolbar, consistent at top of each view-->
<md-toolbar class="toolbar-heading" md-whiteframe="3" style="height: 75px; padding: 0 15px 0 15px" layout="row">
    <div flex>
        <md-button class="toolbar-button" ng-href="/newjoke">New Material</md-button>
        <md-button class="toolbar-button" ng-href="/success">Table of Contents</md-button>
        <md-button class="toolbar-button" ng-href="/logout" target="_self">Logout</md-button>
    </div>
    <h1 id="main-message">{{main.message}}</h1>
</md-toolbar>

<div class="welcome" layout="column" md-whiteframe="3">
    <h1>Alternate Material</h1>

    <h2>{{alternates.title}}</h2>

    <!--Alternate Setup Punch Text Box-->
    <md-input-container>
        <label>Alternate Setup/Punch</label>
        <textarea rows="5" ng-model="alternates.pageData.currentAltSetup" md-select-on-focus></textarea>
    </md-input-container>
    <br />

    <!--Alternate Subject Matter Text Box-->
    <md-input-container>
        <label>Subject Matter</label>
        <textarea rows="5" ng-model="alternates.pageData.currentAltSM" md-select-on-focus></textarea>
    </md-input-container>
    <br />

    <!--Alternate Topics Text Box-->
    <md-input-container>
        <label>Topics</label>
        <textarea rows="5" ng-model="alternates.pageData.currentAltTopic" md-select-on-focus></textarea>
    </md-input-container>
    <br />

    <!--Alternate Themes and Points Text Box-->
    <md-input-container>
        <label>Themes and Points</label>
        <textarea rows="5" ng-model="alternates.pageData.currentAltThemes" md-select-on-focus></textarea>
    </md-input-container>
    <br />

    <div layout="row">
    <!--Save Button-->
    <md-button style="float: left; max-width: 145px;" class="md-raised" ng-click="alternates.replaceAltElement()">Save</md-button>

    <!--Go Back to Exercises Button-->
    <md-button style="float: left; max-width: 145px" class="md-raised" ng-click="alternates.goToExercises()">Back to Exercises</md-button>
    </div>
</div>