<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="header">
        <ul id="top-nav">
            <li><a href="/newjoke" class="btn btn-primary">New Joke</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Title</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Bit</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Set</a></li>
        </ul>
        <h1>Exercises</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12">
        <h3>Joke Title Here</h3>
        <h4>Setup</h4>
        <h4>Punchline</h4>
        <h4>Theme or Topic</h4>
        <h4>Subject Matter</h4>
        <button class="btn btn-lg btn-success" ng-click="exercises.altMaterial()">View Alternate Material</button><br><br>
        <span id="exPage"><h5>Part of set #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5><button class="btn btn-sm btn-primary">Add to another set</button><br><br>
        <h5>Part of Bit #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5><button class="btn btn-sm btn-primary">Add to a different bit</button></span>
    </div>
</div>