<!--Header toolbar, consistent at top of each view-->
<md-toolbar class="toolbarHeading" md-whiteframe="3" style="height: 75px; padding: 0 15px 0 15px" layout="row">
    <div flex>
        <md-button style="height: 35px; margin-top: 38px" aria-label="New Joke" ng-href="/newjoke">New Joke</md-button>
        <md-button style="height: 35px; margin-top: 38px" aria-label="All Jokes" ng-href="/success">All Jokes</md-button>
        <md-button style="height: 35px; margin-top: 38px" aria-label="All Jokes" ng-href="/logout" target="_self">Logout</md-button>
    </div>
    <h1 id="main-message">{{main.message}}</h1>
</md-toolbar>

<div class="page" md-whiteframe="3">
    <h1>Joke</h1>
        <div>
            <!--Title of current Joke-->
            <h2 id="exPageJokeTitle">{{exercises.pageData.currentTitle}}</h2>

            <!--Textbox of current Joke or Bit-->
            <h3>Joke or Bit</h3>
            <textarea type="text" cols="50" ng-model="exercises.pageData.currentJoke">
                <h5>{{exercises.pageData.currentJoke}}</h5>
            </textarea>
            <br />
            <button class="exercise-buttons" ng-click="exercises.replaceSetup()">Save</button>

            <!--Textbox of current Themes or Points-->
            <h4 class="underline">Theme(s) or Point(s)</h4>
            <textarea type="text" cols="50" ng-model="exercises.pageData.currentTheme">
                <h5>{{exercises.pageData.currentTheme}}</h5>
            </textarea>
            <br />
            <button class="exercise-buttons" ng-click="exercises.addToTheme()">Save</button>
            <br />

            <!--Textbox of current Topics-->
            <h4 class="underline">Topic(s)</h4>
            <textarea type="text" cols="50" ng-model="exercises.pageData.currentTopic">
                <h5>{{exercises.pageData.currentTopic}}</h5>
            </textarea>
            <br />
            <button class="exercise-buttons" ng-click="exercises.addToTopic()">Save</button>
            <br />

            <!--Textbox of current Subject Matter-->
            <h4 class="underline">Subject Matter</h4>
            <textarea type="text" cols="50" ng-model="exercises.pageData.currentSubject">
                <h5>{{exercises.pageData.currentSubject}}</h5>
            </textarea>
            <br />
            <button class="exercise-buttons" ng-click="exercises.addToSM()">Save</button>
            <br />

            <!--Textbox of current Statements-->
            <h4 class="underline">Statements</h4>
            <textarea type="text" cols="50" ng-model="exercises.pageData.currentStatements">
                <h5>{{exercises.pageData.currentSubject}}</h5>
            </textarea>
            <br />
            <button class="exercise-buttons" ng-click="exercises.addToStatements()">Save</button>
            <br />

            <!--Link to Alternate Material view-->
            <button ng-click="exercises.viewAlternateMaterial()">View Alternate Material</button><br /><br />
            <!--<h5>Part of set #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5><button>Add to another set</button><br><br>-->
            <!--<h5>Part of Bit #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5><button>Add to a different bit</button>-->
        </div>
</div>
<div class="page" md-whiteframe="3">
    <h1>Exercises</h1>
    <div>
            <button ng-click="exercises.getRandomExercise()">Get Random Exercise</button><br><br>
            <h3>Exercise: {{exercises.exerciseName}}</h3>
            <p>Description: {{exercises.exerciseDescription}}</p>
            <p>Use the box below to do the exercise and write ideas.</p>
            <textarea type="text" rows="15" cols="50"></textarea>
        </div>
        <div>
            <p>Save as alternate version</p>
            <!--<button ng-click="exercises.addAltSetup()">Bit</button>-->
            <button ng-click="exercises.addAltSM()">Subject Matter</button>
            <button ng-click="exercises.addAltTopic()">Topic</button>
            <button ng-click="exercises.addAltTheme()">Theme or Point</button>
        </div>
</div>
