<!--Header toolbar, consistent at top of each view-->
<md-toolbar class="toolbarHeading" md-whiteframe="3" style="height: 75px; padding: 0 15px 0 15px" layout="row">
    <md-button style="height: 35px; margin-top: 38px" aria-label="New Joke" ng-href="/newjoke">New Joke</md-button>
    <md-button style="height: 35px; margin-top: 38px" aria-label="All Jokes" ng-href="/success">All Jokes</md-button>
    <span flex></span>
    <h1 id="main-message">{{main.message}}</h1>
</md-toolbar>

<div id = "leftLogin">
    <h2 style="margin-top: 250px">New User?</h2>
    <div class = "loginDiv">
        <fieldset>
            <legend>Register</legend>
            <form ng-submit="login.register()">
                <label for="registernname">Username: </label>
                <input type="text" ng-model="login.registername" id="registernname"/>

                <label for="registerpassword">Password: </label>
                <input type="password" ng-model="login.registerpassword" id="registerpassword"/>

                <md-button><input type="submit" value="REGISTER" /></md-button>
            </form>
        </fieldset>

        <div ng-show="login.registerError">
            {{login.registerErrorMessage}}
        </div>
    </div>
</div>

<div id = "rightLogin">
    <h2 style="margin-top: 250px">Old User?</h2>
    <div class = "loginDiv">
        <fieldset>
            <legend>Sign In</legend>
            <form ng-submit="login.login()">
                <label for="username">Username: </label>
                <input type="text" ng-model="login.username" id="username"/>

                <label for="password">Password: </label>
                <input type="password" ng-model="login.password" id="password" />

                <md-button><input type="submit" value="LOGIN" /></md-button>
            </form>
        </fieldset>

        <div ng-show="login.loginError">
            {{login.loginErrorMessage}}
        </div>
    </div>
</div>
