 <div id = "loginDiv">
    <div>
        <label for="username">Username: </label>
        <input type="text" ng-model="login.username" id="username"/>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" ng-model="login.password" id="password"/>
    </div>

    <md-button ng-click="login.login()">Login</md-button>
    <md-button ng-click="login.register()">Register</md-button>

    <div ng-show="login.error">
        {{login.errorMessage}}
    </div>
 </div>
