<!--Header toolbar, consistent at top of each view-->
<md-toolbar class="toolbar-heading" md-whiteframe="3" style="height: 75px; padding: 0 15px 0 15px" layout="row">
    <div flex>
        <md-button class="toolbar-button active" ng-href="/newjoke">New Material</md-button>
        <md-button class="toolbar-button" ng-href="/success">Table of Contents</md-button>
        <md-button class="toolbar-button" ng-href="/logout" target="_self">Logout</md-button>
    </div>
    <h1 id="main-message">{{main.message}}</h1>
</md-toolbar>

<div layout="column" class="welcome" md-whiteframe="3">

    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <md-input-container>
            <label>Title</label>
            <input ng-model="newjoke.title">
        </md-input-container>
    </md-content>

    <md-input-container class="block">
        <label>Joke or Bit</label>
        <textarea ng-model="newjoke.setup" rows="5" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="block">
        <label>Subject Matter</label>
        <textarea ng-model="newjoke.subject" rows="5" md-select-on-focus></textarea>
    </md-input-container>


    <md-input-container class="block">
        <label>Topic(s)</label>
        <textarea ng-model="newjoke.topic" rows="5" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="block">
        <label>Theme(s) or Point(s)</label>
        <textarea ng-model="newjoke.theme" rows="5" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="block">
        <label>Statement(s)</label>
        <textarea ng-model="newjoke.statements" rows="5" md-select-on-focus></textarea>
    </md-input-container>

    <ul style="list-style: none" id="newjoke-nav">
        <li style="float: left" ng-show="newjoke.afterSave"><md-button ng-click="newjoke.saveJoke()">Save</md-button></li>
        <li style="float: left" ng-show="newjoke.exerciseLink"><md-button ng-click="newjoke.goToExercises()">Go To Exercises</md-button></li>
        <li><md-button><a style="text-decoration: none; color: black" onClick="document.location.reload();">Clear Form</a></md-button></li>
    </ul>
</div>