<div>
    <div id="header">
        <ul id="top-nav">
            <li><a href="/newjoke">New Joke</a></li>
            <li><a href="/success">All Jokes</a></li>
            <!--<li><a href="#">Find Joke by Bit</a></li>-->
            <!--<li><a href="#">Find Joke by Set</a></li>-->
        </ul>
        <h1>Create New Joke</h1>
    </div>
</div>

<div>
        <h4>Title<span id="red-ast">*</span></h4>
        <input type="text" ng-model="newjoke.title" id="titleField"><br />
</div>

        <h4>Setup</h4>
        <textarea type="text" ng-model="newjoke.setup"></textarea><br />
        <h4>Punchline</h4>
        <p>Separate multiple punchlines (or tags) with commas</p>
        <textarea type="text" ng-model="newjoke.punchline"></textarea><br />

        <h4>Subject Matter</h4>
        <p>Who, what, where</p>
        <textarea type="text" ng-model="newjoke.subject"></textarea><br />
        <h4>Topic(s)</h4>
        <p>What does the subject matter add up to?</p>
        <textarea type="text" ng-model="newjoke.topic"></textarea><br />

        <h4>Theme(s) or Point(s)</h4>
        <p>What is the joke about at a meta level? Try to say what the joke is about without referencing the subject matter or topic.</p>
        <textarea type="text" ng-model="newjoke.theme"></textarea><br />
</div>
        <ul id="newjoke-nav">
            <li ng-show="newjoke.afterSave"><button ng-click="newjoke.saveJoke()">Save</button></li>
            <p ng-show="newjoke.saved">Joke Saved!</p>
            <li><a href="javascript:window.location.reload();">Clear Form</a></li>
            <li><button ng-show="newjoke.exerciseLink" ng-click="newjoke.goToExercises()">Go To Exercises</button></li>
        </ul>

