<!--Header toolbar, consistent at top of each view-->
<md-toolbar class="toolbar-heading" md-whiteframe="3" style="height: 75px; padding: 0 15px 0 15px" layout="row">
    <md-button class="toolbar-button" ng-href="/newjoke">New Material</md-button>
    <md-button class="toolbar-button" ng-href="/success">Table of Contents</md-button>
    <span flex></span>
    <h1 id="main-message">{{main.message}}</h1>
</md-toolbar>
<div id="login-div">
 <label for="username">Username:</label>
 <input type="text" ng-model="register.username" id="username"/>


 <label for="password">Password:</label>
 <input type="password" ng-model="register.password" id="password"/>


 <button ng-click="register.register()">Register</button>

 <div ng-show="register.error">
    {{register.errorMessage}}
 </div>
</div>



