h1 {
    font-family: "Helvetica Neue Ultralight", "Helvetica", "Arial", sans-serif;
    color: #FE65B7;
}

#header h1 {
    margin-bottom: 0;
}

#header h1, p {
 padding-right: 12px;
}

#header {
    text-align: right;
    /*background-color: burlywood;*/
    border-bottom: 2px solid rgb(233, 201, 4);
    border-bottom: 2px solid rgba(233, 201, 4, .4);
}

.btn-login {
    background-color: #8fc33a;
}

#registerTxt {
    color: #62edd6;
}

#welcome h1 {
    text-align: center;
    margin-top: 35px;
    color: #62edd6;
}

.welcomeButtons {
    width: 205px;
    margin: auto;
}

.welcomeButtons button {
    margin-top: 35px;
}

.btn-welcome {
    background-color: #8fc33a;
}

#loginDiv {
    text-align: right;
    position: fixed;
    top: 40%;
    left: 40%;
}

.btn-huge{
    padding: 20px 0px 20px 0px;
    width: 205px;
}

#newJokeHeader {
    width: 330px;
    margin: auto;
}

.largeText {
    width: 300px;
    height: 200px;
}

#titleField {
    width: 300px;
}
