md-content {
    padding: 20px;
}

#left-login {
    height: 100%;
    width: 49%;
    text-align: center;
    float: left;
    border-right: 2pt groove lightblue;
}

#right-login{
    width: 49%;
    text-align: center;
    float: right;
}

.login-div {
    width: 300px;
    margin: auto;
}

.toolbar-heading h1 {
    font-family: serif;
}

.toolbar-button {
    height: 35px;
    margin-top: 38px
}

.active {
    font-weight: bold;
    color: #FFC107
}

.welcome {
    background-color: white;
    width: 80%;
    min-height: 1000px;
    margin: 20px auto 20px auto;
    padding: 20px;
}

.page-header {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.TOC-header {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    font-size: 22px;
    color: blue;
}

.ruled p {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    color: blue;
    border-bottom: 1px solid lightblue;
    margin-top: 0;
    margin-bottom: 0;
}

.tocapitalize {
    text-transform: capitalize;
    font-weight: bold;
}

#delete {
    float: right;
}

.underline {
    text-decoration: underline;
}

.joke-card {
    width: 350px;
    min-height: 350px;
}

.joke-card h3 {
    padding-bottom: 5px;
    border-bottom: groove;
}

.joke-card p {
    min-height: 200px;
}

.exercise-buttons {
    margin-top: 5px;
}

.exercise-column {
    width: 49%;
}

