<!--Header toolbar, consistent at top of each view-->
<md-toolbar class="toolbarHeading" md-whiteframe="3" style="height: 75px; padding: 0 15px 0 15px" layout="row">
    <div flex>
        <md-button style="height: 35px; margin-top: 38px" aria-label="New Joke" ng-href="/newjoke">New Joke</md-button>
        <md-button style="height: 35px; margin-top: 38px; font-weight: bold" aria-label="All Jokes" ng-href="/success">All Jokes</md-button>
        <md-button style="height: 35px; margin-top: 38px" aria-label="All Jokes" ng-href="/logout" target="_self">Logout</md-button>
    </div>
    <h1 id="main-message">{{main.message}}</h1>
</md-toolbar>


<div layout="column" class="welcome" md-whiteframe="3">
    <div class="page-header">
        <span class="title">{{welcome.owner}}</span>
        <span class="page-type">Table of Contents</span>
    </div>
    <div style="padding-left: 100px; padding-top: 50px"><h2>{{welcome.nojokes}}</h2></div>

    <div  class="ruled" layout="column" layout-wrap>
        <p ng-repeat="joke in welcome.jokes">
            <md-button class="md-primary tocapitalize" ng-click="welcome.currentJokeInExercises(joke.id, joke.title, joke.setup_punch, joke.themes, joke.subject_matter, joke.topics, joke.statements)">{{joke.title}} . . . . . . . .</md-button>
            <md-button ng-click="welcome.deleteStepOne(joke.id)">Delete</md-button>
        </p>
    </div>

</div>
