<div class="row">
    <div class="col-lg-12 col-md-12" id="header">
        <ul id="top-nav">
            <li><a href="/newjoke" class="btn btn-primary">New Joke</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Title</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Bit</a></li>
            <li><a href="#" class="btn btn-primary">Find Joke by Set</a></li>
        </ul>
        <h1>Hello, {{welcome.username}}</h1>
    </div>
</div>
<div class="container">
    <div class="col-lg-12 col-md-12">
        <table class="table table-striped">
            <th>Title</th>
            <th>Setup</th>
            <th>Punchline</th>
            <th>Theme or Topic</th>
            <th>Subject Matter</th>
            <th> </th>
            <tr ng-repeat="joke in welcome.jokes">
                <td>{{joke.title}}</td>
                <td>{{joke.setup}}</td>
                <td>{{joke.punchline}}</td>
                <td>{{joke.theme}}</td>
                <td>{{joke.subject_matter}}</td>
                <td><button class="btn btn-info" ng-click="welcome.currentJokeInExercises(joke.id, joke.title, joke.setup, joke.punchline, joke.theme, joke.subject_matter)">Go to Exercises</button></td>
            </tr>
        </table>
    </div>
</div>